@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to delete this?</h2>
<h3>Stylist's name: @Html.DisplayFor(model => model.StylistName), Stylist's specialty: @Html.DisplayFor(model => model.StylistSpecialty)</h3>


@using (Html.BeginForm())
{
    
    <h3><input type="submit" value="Submit in order to delete stylist from the list" /></h3>
}
<hr/>
<h3>@Html.ActionLink("Back to list of stylists", "Index")</h3>
<h3>@Html.ActionLink("Return Home Page", "Index","Home")</h3>