@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist
<center>
<h3>Search Stylists by name</h3>
<form action="/stylists/SearchStylistByNameAndSpecialty" method="post">
  <h3><label for="givenName">PLease Enter name of the stylist:</label>
     <input id="givenId" name="givenName" type="text"></h3>
  <h3><label for="givenName">PLease Enter specialty of the stylist:</label>
      <input id="givenId" name="givenSpecialty" type="text"></h3>
  <h3><button type="submit" class="btn btn-info" >Find an stylists</button></h3>
</form>
</center>