@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you want to delete this?</h2>
<h3>Client's name: @Html.DisplayFor(model => model.ClientName)</h3>
@using (Html.BeginForm())
{
    
    <h3><input type="submit" value="Submit for deletion" /></h3>
}
<hr/>
<h3>@Html.ActionLink("Back to list of stylists", "Index")</h3>
<h3>@Html.ActionLink("Return Home Page", "Index","Home")</h3>
